"""
    This file has been generated automatically
"""

{% for service_import in service.imports %}
{{ service_import }}
{% endfor %}

from ... import core as _core
{% for entity_type in service.entity_types %}
from ...entities import {{ entity_type }} as _{{ entity_type }}
{% endfor %}

# ---------- Constants ----------

{% for endpoint in service.raw_endpoints %}
{{ endpoint.base_path_name }}_BASE_PATH: str = '{{ service.name }}/{{ endpoint.name }}'
{% endfor %}


# ---------- Endpoints ----------

{% for endpoint in service.raw_endpoints %}
async def {{ endpoint.name_snake_case }}(production_server: str{% if endpoint.parameter_raw_definitions %}, {{ endpoint.parameter_raw_definitions }}{% endif %}, **params) -> {{ endpoint.return_type_str or 'None' }}:
    params = {
{% for parameter in endpoint.parameters %}
        '{{ parameter.name }}': {{ parameter.name_snake_case }},
{% endfor %}
        **params
    }
{% if endpoint.method == 'POST' and endpoint.content_type %}
    content = _core.create_request_content(__{{ endpoint.name_screaming_snake_case }}_REQUEST_CONTENT_STRUCTURE, params, '{{ endpoint.content_type }}')
    result = await _core.get_entities_from_path({{ endpoint.entity_types_str }}, '{{ endpoint.xml_parent_tag_name }}', production_server, {{ endpoint.base_path_name }}_BASE_PATH, '{{ endpoint.method }}', request_content=content, **params)
{% else %}
    result = await _core.get_entities_from_path({{ endpoint.entity_types_str }}, '{{ endpoint.xml_parent_tag_name }}', production_server, {{ endpoint.base_path_name }}_BASE_PATH, '{{ endpoint.method }}', **params)
{% endif %}
{% if endpoint.return_type_str %}
    return result
{% endif %}

{% if endpoint.content_type %}
__{{ endpoint.name_screaming_snake_case }}_REQUEST_CONTENT_STRUCTURE: str = '{{ endpoint.content_structure }}'

{% endif %}

{% endfor %}