from datetime import timedelta as _timedelta
from typing import Any as _Any
from typing import Dict as _Dict
from typing import Tuple as _Tuple

from .entity_base import {{ entity.base_class_name }} as _{{ entity.base_class_name }}
from .raw import {{ entity.name }}Raw as _{{ entity.name }}Raw
from ..types import EntityInfo as _EntityInfo
from ..utils import parse as _parse


class {{ entity.name }}(_{{ entity.name }}Raw, _{{ entity.base_class_name }}):
    def __init__(self, {{ entity.name_snake_case }}_info: _EntityInfo) -> None:
        super().__init__({{ entity.name_snake_case }}_info)

{% if entity.id_property_name %}

    @property
    def id(self) -> int:
        return self.{{  entity.id_property_name  }}
{% endif %}